.wrappper {
    text-align: center;
    margin: auto;
    min-height: 95vh;
    background-image: url(../../assets/bg_cloud.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 180px;
}

.mainSection {}