.loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0e0d0d;
    /* Dark background */
    color: #ffffff;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ffffff;
    /* White border */
    border-top: 5px solid #c13660;
    /* Golden brown */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 1rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}